<div class="b-void-marks">
    <div class="b-void-marks-column">
        <h4>Пожаловаться:</h4>
        <input type="checkbox">Орфография <br/>
        <input type="checkbox">Множественность <br/>
        <input type="checkbox">Специфичность <br/>
    </div>
    <div class="b-void-marks-column">
        <h4>Оценить:</h4>
        <table>
            <tr>
                <td>сложность</td>
                <td>
                    <input type="radio" name="difficult-group" value="1">
                    <input type="radio" name="difficult-group" value="2">
                    <input type="radio" name="difficult-group" value="3">
                    <input type="radio" name="difficult-group" value="4">
                    <input type="radio" name="difficult-group" value="5">
                </td>
            </tr>
            <td>
                интересность
            </td>
            <td>
                <input type="radio" name="interest-group" value="1">
                <input type="radio" name="interest-group" value="2">
                <input type="radio" name="interest-group" value="3">
                <input type="radio" name="interest-group" value="4">
                <input type="radio" name="interest-group" value="5ы">
            </td>
        </table>
    </div>
    <div class="b-void-marks-column">
        <h4>Автор:</h4>

    </div>
</div>