.b-games__list__item-i { display: inline; }
.b-games__list__item__avatar { display: inline; }
.b-games__list__item_play .b-games__list__item__ctrls { display: inline; }

.b-stats__item__label { display: inline; }
.b-stats__item__data { display: inline; }