<div id='userContainer' class='b-container-user'>
</div>
<div class="b-navigation">
    <a href="#createQuestion">Создать вопрос</a>
</div>
<div class='b-container-navigation-tile'>
    <div class="b-tile-navigation-area">
        <div class="b-tile-navigation">Случайный <br> пакет</div>
        <div class="b-tile-navigation">Рейтинговая <br> игра</div>
        <div class="b-tile-navigation">3</div>
        <div class="b-tile-navigation ">4</div>
        <div class="b-tile-navigation ">5</div>
    </div>
</div>
<div id="tileContainer" class="b-container-tile">
</div>

<!--<div id='navigateContainer'>-->
<!--</div>-->
